.card_profe{
    width:70%;
    transform:translate(-50%,-50%);
    top:55%;
    left:50%;
}


header ul li a:hover::before{
    width:120px;
    filter: drop-shadow(0 0 25px var(--clr));
}

#seconde a:hover::before{
    width:100px;
    filter: drop-shadow(0 0 25px var(--clr));
}
.more{
    position: absolute;
    transform: translate(-50%-50%);
    top:85%;
    left:30%;
}

header nav.sticky{
    background-color: black;
    padding: 10px 70px;
}

section{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right , #70e1f5,#ffd194);
}

/** large */
@media screen and (min-width:988px){
    .more{
        position: absolute;
        transform: translate(-50%-50%);
        top: 80%;
        left: 43%;
    }
}

/** medium */
@media screen and (min-width:450px){
    .more{
        position: absolute;
        transform: translate(-50%-50%);
        top: 80%;
        left:43%;
    }
}


