*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/** home page*/
.dropdown-toggle {
    outline: 0;
}

.link-dark {
    font-size: 18px;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}


.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}
header{
    height: 100vh;
}

header{
    background-image: url(./images/back_library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header a{
    color: #fff !important;
    font-size: 18px;
    font-weight: 600 !important;
}

header ul li a{
    text-decoration: none;
    font-size: 4em;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    -webkit-text-stroke:1px rgba(255,255,255,0.5);
}
/** nav bar */
header ul li a{
    text-decoration: none;
    font-size: 4em;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    -webkit-text-stroke:1px rgba(255,255,255,0.5);
}

header ul li a::before{
    content: attr(data-text);
    width: 0;
    color: var(--clr);
    overflow: hidden;
    transition: 1s;
    position: absolute;
    -webkit-text-stroke:1px var(--clr);
    border-right: 3px solid var(--clr);
    margin-left:-11px;
}
.card_profe {
    width: 70%;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}


header ul li a:hover::before {
    width: 120px;
    filter: drop-shadow(0 0 25px var(--clr));
}

#seconde a:hover::before {
    width: 100px;
    filter: drop-shadow(0 0 25px var(--clr));
}

.more {
    position: absolute;
    transform: translate(-50%-50%);
    top: 85%;
    left: 30%;
}

header nav.sticky {
    background-color: black;
    padding: 10px 70px;
}

section .service .titre {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 18%;
}

section .service {
    width: 100%;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff;
}

section .popular {
    height: 100vh;
    background-image: linear-gradient(to right, #fc354c, #0abfbc);
}

#team {
    height: 100vh;
}

#team img {
    width: 100px;
    height: 100px;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

#contact_us {
    background-image: linear-gradient(to right, #ece9e6, #fff);
    width: 100%;
}

textarea {
    width: 170px;
}

#image_contact {
    width: 100px;
    height: 100px;
}


/* login*/


/** sidebar */

.sidebar {
    min-width: 17rem;
    width: 17rem;
    position: fixed;
    height: 100vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100%-17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width:768px) {
    #sidebar {
        margin-left: -17rem;
        position: fixed;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100%-17rem);
    }
}

/** large */
@media screen and (min-width:988px) {
    .more {
        position: absolute;
        transform: translate(-50%-50%);
        top: 80%;
        left: 25%;
    }

    .service .titre {
        text-align: center;
        padding-top: 50%;
    }

    #team img {
        width: 250px;
        height: 250px;
        border: 0.5rem solid rgba(0, 0, 0, 0.1);
    }

    textarea {
        width: 150px;
    }

    #image_contact {
        width: 250px;
        height: 250px;
    }
}

/** medium */
@media screen and (min-width:450px) {
    .more {
        position: absolute;
        transform: translate(-50%-50%);
        top: 80%;
        left: 35%;
    }

    .service .titre {
        text-align: center;
        padding-top: 10%;
    }

    #team img {
        width: 200px;
        height: 200px;
        border: 0.5rem solid rgba(0, 0, 0, 0.1);
    }

    textarea {
        width: 100%;
    }

    #image_contact {
        width: 200px;
        height: 200px;
    }
}


/*drop down*/


/** service */


